################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Input/COVID-19
/Input/NORMAL
/Output
/__pycache__
